# allow common image formats
<FilesMatch "\.(jpg|jpeg|png|gif|webp)$">
	Order Allow,Deny
	Allow from all
</FilesMatch>

# disallow php files so a user cannot upload/run a malicious script
<FilesMatch "\.php$">
	Order Deny,Allow
	Deny from all
</FilesMatch>
